<!--{% extends 'layout.html' %}-->

<!--{% block body %}-->

<!--<h1>-->
    <!--Articles-->
<!--</h1>-->
<!--Double Curly Braces for dynamic variables/value - {{}}-->
<!--{% %} for logic-->
<!--<ul class="list-group">-->
    <!--{% for article in articles%}-->
       <!--<li class="list-group-item">-->
           <!--&lt;!&ndash;<a href="article/{{article.id}}">&ndash;&gt;-->
           <!--{{article.title}}-->
           <!--hello-->
           <!--&lt;!&ndash;</a>&ndash;&gt;-->
       <!--</li>-->
    <!--{% endfor %}-->
<!--</ul>-->

<!--hello-->
<!--{% endblock %}-->


{% extends 'layout.html' %}

{% block body %}

<div class="jumbotron text-center">
    <h1>
        Welcome To FlaskApp
    </h1>
    <p class="lead"> This application is built on Python Flask Framework and is the focus for the "Python Flask from Scratch" you tube series</p>
</div>
HOME3

{% endblock %}